@font-face {
    font-family: Comic_;
    src: url(Comic.ttf);
}

@font-face {
    font-family: Slabo;
    src: url(Slabo.ttf);
}

* {
    font-family: Comic_;
    color: #eee;
}

body {
    background-color: #111;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    margin-top: 30;
    color: #eee;
    font-size: 32px;
}

.container {
    margin: auto;
    padding: 1 0;
    background-color: #1c1c1c;
    border-radius: 20px;
    max-width: 900px;
}

.contained {
    background-color: #222;
    color: #eee;
    padding: 20;
    margin: 20px;
    border-radius: 15px;
}

.p1 {
    color: #eee;
    font-size: 13px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

h2 {
    margin: 0;
    padding: 0;
}

.flexed {
    width: 400px;
}

.bid_item {
    max-width: 200px;
    background-color: #eee;
    padding: 0;
    margin: 10px;
    border-radius: 10px;
}

.auction p {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.p3 {
    font-size: 16px;
}

.p4 {
    font-size: 13px;
}

.name {
    background-color: #111;
    color: #eee;
    border-color: #444;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    width: 95%;
    height: 40px;
    margin: 2.5%;
    padding: 0px;
}

.player_new {
    background-color: #ff5722;
    color: #eee;
    width: 95%;
    height: 40px;
    margin: 2.5%;
    padding: 0px;
    border-width: 0px;
    border-radius: 10px;
}

.player_new:hover {
    background-color: #ff784e;
}

input {
    padding: 8px !important;
}

.leaderboard {
    margin-top: 10px;
    font-family: Comic_;
    border-collapse: collapse;
    width: 100%;
    background-color: #333;
}

td, th {
  border: 1px solid #555;
  text-align: left;
  padding: 8px;
  font-size: 14px;
  height: 17px;
}

tr:nth-child(even) {
  background-color: #444;
}

.pick-bidder {
    height: 40px;
    width: 90%;
}

.bid-type-button {
    height: 40px;
    width: 45%;
}

.input-money {
    height: 40px;
    width: 90%;
}

.input-crazy {
    height: 40px;
    width: 50%;
}

.value {
    height: 40px;
    width: 50%;
}

.crazy-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto !important;
}

.bid-submit {
    height: 40px;
    width: 90%;
}

.bidding-form * {
    margin: 5px;
    border-radius: 10px;
}

.bid-h2 {
    margin-bottom: 15px;
}

input, select {
background-color: #111;
    color: #eee;
    border-color: #444;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

button {
    background-color: #ff5722;
    color: #eee;
    height: 40px;
    border-width: 0px;
    border-radius: 10px;
}